# Виртуальное окружение
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Переменные окружения (СЕКРЕТЫ!)
.env
.env.local
.env.*.local

# PyCharm
.idea/

# VS Code
.vscode/

# Базы данных
*.db
*.sqlite3

# Логи
*.log

# OS
.DS_Store
Thumbs.db